@import '../../styles/variables.scss';

.statusBadge {
  font-weight: 500;
  border-radius: $border-radius-sm;
  padding: $spacing-xs $spacing-sm;
  font-size: $font-size-xs;
  text-transform: none;
  letter-spacing: 0.5px;
  border: none;
  text-transform: capitalize;
  display: inline-block;
}

.active {
  color: $status-active;
  background: #2EB82E14;
}
.paused {
  color: $status-paused;
  background:#F25A5A14;
}
.warning {
  color: $status-warning;
  background: #FFD54F26;
}
.unknown {
  color: $text-color-secondary;
  background: $border-color-light;
} 