@import '../../styles/variables.scss';

.header {
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 16px 0px #0F233F1F;
  position: relative;
  z-index: 10;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $breakpoint-xl;
  margin: 0 auto;
  height: 90px;
  padding: 0 $spacing-xl;
}

.desktopNav {
  display: flex;
}

.burger {
  display: none;
  margin-left: $spacing-sm;
}

.logoIcon {
  width: 44px;
  height: 44px;
}

@media (max-width: $breakpoint-lg) {
  .headerContent {
    height: 76px;
  }

  .desktopNav {
    display: none;
  }
  .burger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-xxl;
    color: $text-color;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0 $spacing-xs;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: $font-size-xxl;
  color: $primary-color;
  letter-spacing: 1px;
}

.logoIcon {
  font-size: $spacing-xl;
  margin-right: $spacing-sm;
}

.logoText {
  font-size: $font-size-xxl;
  font-weight: 700;
  background: linear-gradient(180deg, #4DD1F6 0%, #0381F6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 3px; // уменьшает расстояние между буквами
  font-stretch: condensed; // если поддерживается шрифтом
}

@media (max-width: $breakpoint-lg) {
  .logoText {
    display: none;
  }
} 