@import '../../styles/variables.scss';

.container {
  max-width: $breakpoint-xl;
  margin: 0 auto;
  padding: 0 $spacing-md;
  
  @media (max-width: $breakpoint-md) {
    padding: 0 $spacing-sm;
  }
} 