@import '../../styles/variables.scss';

// Кастомный header для мобильного Collapse
.mobileHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $background-color;
}

.headerTextBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
  min-width: 0;
}

.mobileName {
  color: $primary-color;
  font-size: $font-size-md;
  font-weight: 600;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expandIcon {
  color: $text-color-secondary;
  font-size: 16px;
  transition: transform 0.2s;
  transform: rotate(90deg);
  // margin-left: $spacing-md;
  align-self: center;
  &.expanded {
    transform: rotate(-90deg);
  }
}

// Стили для содержимого карточки
.body {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-sm;
  color: $text-color;
  margin-bottom: 2px;
  
  b {
    font-weight: 400;
    color: $text-color-secondary;
  }
  
  .value {
    color: $text-color;
    font-weight: 400;
  }
  
  .paymentLink {
    color: $primary-color;
    text-decoration: none;
    
    &:hover {
      color: darken($primary-color, 10%);
    }
  }
}

.statusBadge {
  margin: 4px 0 12px 0;
}

div.actionRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-xs;
  margin-top: $spacing-sm;
}

.goBtn {
  flex: 1 1 auto;
  min-width: 0;
  margin-right: $spacing-xs;
  font-weight: 400;
  background: #f8f8f8 !important;
  color: $text-color !important;
  border: 1px solid $border-color-light !important;
  // box-shadow: none !important;
  cursor: not-allowed;
  text-align: left;
} 