@import '../../styles/variables.scss';
.mobileHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $background-color;
}

.headerTextBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
  min-width: 0;
}

.mobileName {
  color: $primary-color;
  font-size: $font-size-md;
  font-weight: 600;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expandIcon {
  color: $text-color-secondary;
  font-size: $font-size-md;
  transition: $transition-fast;
  transform: rotate(90deg);
  // margin-left: $spacing-md;
  align-self: center;
  &.expanded {
    transform: rotate(-90deg);
  }
}
.body {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  font-family: 'Noto Sans', sans-serif;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-md;
  color: $text-color;
  margin-bottom: 2px;
  font-family: 'Noto Sans', sans-serif;
  
  b {
    font-weight: 700;
    color: $text-color-secondary;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .value {
    color: $text-color;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .paymentLink {
    color: $primary-color;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    
    &:hover {
      color: darken($primary-color, 10%);
    }
  }
}

.statusBadge {
  margin: $spacing-xs 0 $spacing-sm 0;
}

div.actionRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-xs;
  margin-top: $spacing-sm;
}

.goBtn {
  flex: 1 1 auto;
  min-width: 0;
  margin-right: $spacing-xs;
  font-weight: 400;
  background: $border-color-light !important;
  color: $text-color !important;
  box-shadow: none !important;
  cursor: pointer;
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
} 