@import '../../styles/variables.scss';

.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: $font-size-xxl;
  color: $primary-color;
  letter-spacing: 1px;
}

.logoIcon {
  font-size: $spacing-xl;
  margin-right: $spacing-sm;
}

.logoText {
  font-size: $font-size-xxl;
  color: $primary-color;
  font-weight: 700;
}

.menu {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  gap: $spacing-xl;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: $font-size-md;
  font-weight: 700;
  color: $text-color;
}

.menu li {
  cursor: pointer;
  transition: $transition-fast;
}
.menu li:hover {
  color: $primary-color;
}

.menuVertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $spacing-lg 0 $spacing-md 0;
  margin: 200px 0 0 0;
  list-style: none;
  width: 100%;
}
.menuVertical li {
  font-size: $font-size-lg;
  font-weight: 500;
  color: $text-color;
  padding: $spacing-sm $spacing-lg;
  width: 100%;
  cursor: pointer;
  transition: $transition-fast;
}
.menuVertical li:hover {
  color: $primary-color;
} 